@model BookCopyFormViewModel
<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")" 
    data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="@(Model?.Id > 0 ? "OnEditCopySuccess" : "OnAddCopySuccess")"
      data-ajax-failure="ShowMessageError"
      data-ajax-complete="onModalCompleted">

    <input type="hidden" asp-for="BookId" />

    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />

    }
    <div class="mb-5">
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Edition Number" asp-for="EditionNumber" />
            <label asp-for="EditionNumber"></label>
        </div>
        <span asp-validation-for="EditionNumber" class="text-danger d-block"></span>
    </div>
    @if (Model!.ShowRentelInput)
    {
        <div class="mb-5">
            <div class="form-check form-switch form-check-solid form-check-custom">
                <input class="form-check-input " type="checkbox" value="" asp-for="isAvailableForRentel">
                <label class="form-check-label" asp-for="isAvailableForRentel"></label>
            </div>
        </div>
    }
    <partial name="_ModalFooter" />
</form>
