@model string
@{
    ViewData["title"] = "Not Allowed Rental";
}
<div class="d-flex flex-column justify-content-center align-items-center">
        <img src="~/assets/images/do not enter sign-rafiki.png" class="mw-300px" alt="stop" />
        <h4 class="bg-danger text-white display-6 p-4 rounded w-50">@Model</h4>
</div>