<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="scroll-y flex-column-fluid px-10 py-10" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header_nav" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true" --kt-scrollbar-color: #d9d0cc; --kt-scrollbar-hover-color: #d9d0cc; height: 134px;">
        <div id="#kt_app_body_content" font-family:Arial,Helvetica,sans-serif; line-height: 1.5; min-height: 100%; font-weight: normal; font-size: 15px; color: #2F3044; margin:0; padding:0; width:100%;">
            <div padding: 45px 0 34px 0; border-radius: 24px; margin:40px auto; max-width: 600px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="center" style="text-align:center; padding-bottom: 10px">
                                <!--begin:Email content-->
                                <div style="text-align:center; margin:0 15px 34px 15px">
                                    <!--begin:Logo-->
                                    <div style="margin-bottom: 10px">
                                        <a href="https://keenthemes.com" rel="noopener" target="_blank">
                                            <img alt="Logo" src="https://res.cloudinary.com/cloudomar/image/upload/v1720036479/logo_mqrlw5.png" style="height: 60px">
                                        </a>
                                    </div>
                                    <!--end:Logo-->
                                    <!--begin:Media-->
                                    <div style="margin-bottom: 15px;">
                                        <img alt="Logo" src="[imageUrl]">
                                    </div>
                                    <!--end:Media-->
                                    <!--begin:Text-->
                                    <div style="font-size: 14px; font-weight: 500; margin-bottom: 27px; font-family:Arial,Helvetica,sans-serif;">
                                        <p style="margin-bottom:9px; color:#181C32; font-size: 22px; font-weight:700">[header]</p>
                                        <p style="margin-bottom:2px; color:#7E8299">[body]</p>
                                    </div>
                                    <!--end:Text-->
                                    <!--begin:Action-->
                                    <a href="[url]" target="_blank" style="background-color: #006ae6a8; border-radius: 6px; display: inline-block; padding: 11px 19px; color: #FFFFFF; font-size: 14px; font-weight: 500; text-decoration: none; ">
                                        [linkTitle]
                                    </a>
                                    <!--begin:Action-->
                                </div>
                                <!--end:Email content-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Email template-->

    </div>
</body>
</html>